@charset "utf-8";
/* CSS Document */

@font-face {
	font-family: raleway-r;
	src: url('../fonts/Raleway-Regular.ttf');
}

body {
	font-family: raleway-r;
}

a, h1, h2, h3, h4, h5, h6, ul, p {
	margin: 0;
	padding: 0;
}

.container {
	margin: 0 auto;
	width: 1140px;
}

.container-fluid {
	width: 100%;
}

.col-1 {
	width: 8.33%;
}
.col-2 {
	width: 16.66%;
}
.col-3 {
	width: 24.99%;
}
.col-4 {
	width: 33.32%;
}
.col-5 {
	width: 41.65%;
}
.col-6 {
	width: 49.98%;
}
.col-7 {
	width: 58.31%;
}
.col-8 {
	width: 66.64%;
}
.col-9 {
	width: 74.97%;
}
.col-10 {
	width: 83.33%;
}
.col-11 {
	width: 91.63%;
}
.col-12 {
	width: 100%;
}

[class*="col-"] {
	float: left;
	padding: 0 0.75rem;
	box-sizing: border-box;
}

.bg {
	height: 150px;
	background-color: #000000;
	margin-bottom: 15px;
}

.nav ul {
	float: right;
	margin: 27px 0;
}

.nav ul li {
	list-style: none;
	float: left;
}

.nav ul li a {
	text-decoration: none;
	text-transform: uppercase;
	color: #272727;
	padding: 0 15px;
	font-size: 12px;
	letter-spacing: 2px;
	font-family: raleway-r;
	font-weight: bold;
	display: block;
	line-height: 34px;
}

.nav ul li a:hover {
	background-color: #ff3c41;
	color: white;
}


/*banner*/
.slider img {
	width: 100%;
}

/*Mục About Us*/

@font-face {
	font-family: raleway-b;
	src: url('../fonts/Raleway-Bold.ttf');
}

.title {
	font-family: raleway-b;
	font-size: 40px;
	color: #1b1b1b;
	text-align: center;
	padding: 50px 0 20px 0;
}

.about-content h3 {
	font-family: raleway-b;
	font-size: 26px;
	color: #3c3c3c;
	padding: 15px 0;
}

.about-content p {
	padding: 10px 30px 5px 0;
	color: #8d8d8d;
	margin-bottom: 20px;
}

.about-content button {
	background-color: white;
	border: 3px solid #76daff;
	text-transform: uppercase;
	color: #3c3c3c;
	text-align: center;
	width: 140px;
	height: 50px;
	margin-top: 20px;
}

/*---------------------------------------------*/
/*dưới about us*/
.line {
	height: 2px;
	background-color: #d7d7d7;
	clear: both;
}

.hihi-icon {
	
}

.hihi-icon i {
	font-size: 40px;
	color: #76daff;
	margin: 20px auto;
}

.hihi-content .title {
	font-size: 20px;
	font-family: raleway-b;
	letter-spacing: 2px;
	padding: 0;
	margin: 20px auto;
}

.hihi-content p {
	line-height: 30px;
}

/*------------------------------------------------------*/
/*Mục what we do*/
.bg-wwd {
	background-color: #1c1c1c;
	min-height: 50px;
	margin-top: 50px;
	float: left;
}

.clear {
	clear: both;
}

.bg-wwd .title {
	color: white;
}

.wwd-icon {
	width: 124px;
	height: 124px;
	margin: 15px auto;
	border: 2px solid white;
	border-radius: 50%;
}

/*canh cho icon shield vào giữa và chỉnh màu*/
.wwd-icon i {
	line-height: 124px;
	font-size: 40px;
	color: white;
}

.wwd-content .title {
	padding: 0;
	color: white;
	font-size: 20px;
}

.wwd-content p {
	color: #777777;
	font-size: 15px;
	margin: 20px 0;
}

/*canh giữa cho tất cả phần tử nằm trong wwd-item*/
.wwd-item {
	text-align: center;
	margin-bottom: 50px;
}

.wwd-item:hover .wwd-icon i {
	color: #76daff;
}

.wwd-item:hover .wwd-icon {
	border-color: #76daff;
}