@charset "utf-8";
/* CSS Document */


@font-face {
	font-family: raleway-r;
	src: url('../fonts/Raleway-Regular.ttf');
}

body {
	font-family: raleway-r;
}

.container {
	margin: 0 auto;
	width: 1140px;
}

.col-1 {
	width: 8.33%;
}
.col-2 {
	width: 16.66%;
}
.col-3 {
	width: 24.99%;
}
.col-4 {
	width: 33.32%;
}
.col-5 {
	width: 41.65%;
}
.col-6 {
	width: 49.98%;
}
.col-7 {
	width: 58.31%;
}
.col-8 {
	width: 66.64%;
}
.col-9 {
	width: 74.97%;
}
.col-10 {
	width: 83.33%;
}
.col-11 {
	width: 91.63%;
}
.col-12 {
	width: 100%;
}

[class*="col-"] {
	float: left;
	padding: 0 0.75rem;
	box-sizing: border-box;
}

.bg {
	height: 150px;
	background-color: #000000;
	margin-bottom: 15px;
}

.nav ul {
	float: right;
	margin: 27px 0;
}

.nav ul li {
	list-style: none;
	float: left;
}

.nav ul li a {
	text-decoration: none;
	text-transform: uppercase;
	color: #272727;
	padding: 0 15px;
	font-size: 12px;
	letter-spacing: 2px;
	font-family: raleway-r;
	font-weight: bold;
	display: block;
	line-height: 34px;
}

.nav ul li a:hover {
	background-color: #ff3c41;
	color: white;
}
