@charset "utf-8";
/* CSS Document */

@font-face {
	font-family: raleway-r;
	src: url('../fonts/Raleway-Regular.ttf');
}

body {
	font-family: raleway-r;
}

.form-signup {
/*	border: 1px solid black;*/
	box-shadow: 0 0 12px 10px #ccc;
	background-color: #FFFFFF;
	width: 100%;
}

.line {
	width: 100%;
	height: 1px;
	background-color: #BFBFBF;
	
}

.form-signup input {
	border: none;
	border-bottom: 1px solid #D3D3D3;
	width: 100%;
	height: 40px;
}
.form-signup i {
	line-height: 40px;
	color: #A2A2A2;
}

.form-signup button {
	border: none;
	background-color: orangered;
	color: white;
	width: 140px;
	height: 40px;
}