@charset "utf-8";
/* CSS Document */

/*
.container {
	width: 1140px;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
*/

/*
.item {
	width: 500px;
	margin: 15px;
	background-color: chocolate;
	height: 150px;
	margin-bottom: 15px;
}
*/

/*
#i1 {
	order: 5;
}
#i2 {
	order: 2;
}
#i3 {
	order: 3;
}
#i4 {
	order: 1;
}
#i5 {
	order: 4;
}
#i6 {
	order: 7;
}
#i7 {
	order: 8;
}
#i8
{
	order: 6;
}*/

/*Bài tập position và transition*/
.item {
	margin-bottom: 15px;
	position: relative;
/*	xử lí tràn*/
	overflow: hidden;
}

.title {
	background-color: rgba(0,0,0,0.5);
	line-height: 50px;
	height: 50px;
	color: white;
	position: absolute;
	padding-left: 15px;
	box-sizing: border-box;
	width: 100%;
	bottom: -50px;
	transition: all 0.75s linear;
}

.item img {
	width: 100%;
}

.item:hover .title {
/*	transform: translateY(-55px);*/
	bottom: 0;
	transition: all 0.75s linear;
}

/*----------------------------------------------------------*/
/*scale trong CSS3*/

.g-scale img {
	filter: grayscale(100%);
	transition: all 1s ease;
}

.g-scale:hover img {
	filter: grayscale(0);
	transition: all 1s ease;
}

.brightness img {
	filter: brightness(50%);
	transition: all 1s ease;
}

.brightness:hover img {
	filter: brightness(100%);
	transition: all 1s ease;
}

.contrast img {
	filter: contrast(150%);
	transition: all 1s ease;
}

.contrast:hover img {
	filter: contrast(100%);
	transition: all 1s ease;
}

.blur img {
	filter: blur(5px);
	transition: all 1s ease;
}

.blur:hover img {
	filter: blur(0);
	transition: all 1s ease;
}